:root {
	--black1: #000005;
	--black2: #09090F;
	--black3: #101211;
	--gray6: #B9BCC8;
	--gray5: #6E717C;
	--gray9: #E5E9F2;
	--blue: #4848ED;
	--green: #0DAC5C;
	--yellow: #CBAF02;
	--background: #E1E4EC;
	--white: #FFFFFF;
}

